.delay1 {
  transition: all 2s;
  transition-delay: 100ms;
}

.delay2 {
  transition: all 2s;
  transition-delay: 300ms;
}

.delay3 {
  transition: all 2s;
  transition-delay: 500ms;
}

.textHidden {
  opacity: 0;
  filter: blur(2px);
}

.textShow {
  opacity: 1;
  filter: blur(0);
}
