.delay1 {
  transition-property: opacity, filter;
  transition-duration: 2s;
  transition-delay: 100ms;
}

.delay2 {
  transition-property: opacity, filter;
  transition-duration: 2s;
  transition-delay: 300ms;
}

.delay3 {
  transition-property: opacity, filter;
  transition-duration: 2s;
  transition-delay: 500ms;
}

.textHidden {
  opacity: 0;
  filter: blur(2px);
}

.textShow {
  opacity: 1;
  filter: blur(0);
}
